<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323127891832-jj0eljugt7hh47pnt8ulgjpnt40im4f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323127891832-jj0eljugt7hh47pnt8ulgjpnt40im4f8</string>
	<key>API_KEY</key>
	<string>AIzaSyAohuEAFhvBh981yPj5_SOXPSsvUHdo1bo</string>
	<key>GCM_SENDER_ID</key>
	<string>323127891832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codment.snackTrackTruck</string>
	<key>PROJECT_ID</key>
	<string>snacktrack-truck</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktrack-truck.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323127891832:ios:b1520bfdc9d656483fda8d</string>
</dict>
</plist>